<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Ingredient</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
<div class="mainFlex">
    <h1>Ingredient Manager:</h1>
    <h3>Create New Ingredient</h3>
    <div class="createIngredientForm">
        <form>
            <table>
                <tr>
                    <td align="right">
                        <label for="ingredientName">Ingredient Name</label>
                    </td>
                    <td>
                        <input id="ingredientName" type="text" required="required" placeholder="Ingredient Name">
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="ingredientDescription">Ingredient Description</label>
                    </td>
                    <td>
                        <input id="ingredientDescription" type="text" required="required" placeholder="Ingredient Description">
                    </td>
                </tr>
                <tr>
                    <td  align="right">
                        <label for="ingredientQuantityType">Ingredient Quantity Type </label>
                    </td>
                    <td>
                        <select  class="cniInputs" id="ingredientQuantityType" >
                            <option value=Pounds>Pounds</option>
                            <option value=Ounces>Ounces</option>
                            <option value=Grams>Grams</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <div align="center">
                <input id="createSubmit" class="button1" type="submit" value="Create Ingredient">
            </div>
        </form>
    </div>
    <br>
    <table id="itemCreatedTable"></table>
    <br>
    <input class="button1" type="button" value="Inventory Manager" onclick="location.href=
            'http://localhost:63342/sba-javascript-dan-schollmeyer/src/main/html/InventoryManagerIndex.html?_ijt=et5nno17nqku9ns6slr0fouqjt&_ij_reload=RELOAD_ON_SAVE'"
           >
    <script src="/src/main/resources/static/main.js"></script>
</div>
</body>
</html>