<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Inventory</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
<div class="mainFlex">
    <h1>Inventory Manager:</h1>
    <div class="tenor-gif-embed" data-postid="23785718" data-share-method="host" data-aspect-ratio="1" data-width="20%">
        <a href="https://tenor.com/view/cheers-cheers-beer-gif-23785718">Cheers Cheers Beer GIF</a>
        from <a href="https://tenor.com/search/cheers-gifs">Cheers GIFs</a>
    </div>
    <script type="text/javascript" async src="https://tenor.com/embed.js">
    </script>
    <h3>Display Inventory</h3>
    <table id="inventoryTable">
        <tr>
            <th align="left">Name</th>
            <th align="center">Quantity</th>
            <th align="left">Quantity Type</th>
        </tr>
        <tr th:each = "ingredient: ${ingredientsList}">
            <td th:text="${ingredient.name}"></td>
            <td align="center" th:text="${ingredient.quantity}"></td>
            <td th:text="${ingredient.quantityType}"></td>
            <!--
            <td>
                <a th:href="@{/controllerURL/{id}(id=$ingredient.id})}">update</a>
            </td>
            -->
            <td>
                <a th:href="@{/updateIngredient/{id}(id=${ingredient.id})}" class="button1">Update</a>
                <a th:href="@{/deleteIngredient/{id}(id=${ingredient.id})}" class="button1">Delete</a>
            </td>
        </tr>

    </table>
    <br><br>
    <a href="/">
        <button class="button1">
            Inventory Manager
        </button>
    </a>
    <script src="/src/main/resources/static/main.js"></script>
</div>
</body>
</html>