<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Inventory</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
<div class="mainFlex">
    <h1>Inventory Manager:</h1>
    <div class="tenor-gif-embed" data-postid="23785718" data-share-method="host" data-aspect-ratio="1" data-width="20%">
        <a href="https://tenor.com/view/cheers-cheers-beer-gif-23785718">Cheers Cheers Beer GIF</a>
        from <a href="https://tenor.com/search/cheers-gifs">Cheers GIFs</a>
    </div>
    <script type="text/javascript" async src="https://tenor.com/embed.js">
    </script>
    <h3>Display Inventory</h3>
    <table id="inventoryTable">
        <tr th:each = "${ingredientsList}">
            <td th:text="ingredient.name"></td>
            <!--
            <td>
                <a th:href="@{/controllerURL/{id}(id=$ingredient.id})}">update</a>
            </td>
            -->
        </tr>
        <tr>
            <th width="200px" align="left">Name</th>
            <th align="left">Quantity Type</th>
            <th align="left">Quantity</th>
        </tr>
        <tr>
            <td>Dry wheat malt extract</td>
            <td>Pounds</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Wheat malt</td>
            <td>Pounds</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Pilsner malt</td>
            <td>Pounds</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Hallertau hops</td>
            <td>Ounces</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Irish moss</td>
            <td>Teaspoons</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Yellow Grapefruit (Zested)</td>
            <td>Items</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Corn sugar</td>
            <td>Ounces</td>
            <td>50</td>
        </tr>
        <tr>
            <td>White Labs WLP380 Hefeweizen IV ale yeast</td>
            <td>Packets</td>
            <td>50</td>
        </tr>
    </table>
    <br><br>
    <a href="/">
        <button class="button1">
            Inventory Manager
        </button>
    </a>
    <script src="/src/main/resources/static/main.js"></script>
</div>
</body>
</html>