<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Manager Index</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
<div class="mainFlex">
    <h1>Inventory Manager</h1>
    <img src="https://tse2.mm.bing.net/th?id=OIP.8IVm33FtGWWfN8p1qKQwvwHaE6&pid=Api"
         height="200">
    <br>
    <button class="button1" onclick="location.href=
            'http://localhost:63342/sba-javascript-dan-schollmeyer/src/main/html/DisplayInventory.html?_ijt=7gpp7e5bqgla871lgfqu82kf0i&_ij_reload=RELOAD_ON_SAVE'
            ">Display Inventory</button>
    <br>
    <button class="button1" onclick="location.href=
        'http://localhost:63342/sba-javascript-dan-schollmeyer/src/main/html/CreateIngredient.html?_ijt=v5r851vpgmjh2mn7abdi1m5hih&_ij_reload=RELOAD_ON_SAVE'
        ">Create Ingredient</button>
</div>
</body>
</html>