<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Manager Index</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
<div class="mainFlex">
    <h1>Inventory Manager</h1>
    <img src="https://tse2.mm.bing.net/th?id=OIP.8IVm33FtGWWfN8p1qKQwvwHaE6&pid=Api"
         height="200">
    <br>
    <a href="/displayInventory">
        <button class="button1">
            Display Inventory
        </button>
    </a>
    <br>
    <a href="/createIngredient">
        <button class="button1">
            Create Ingredient
        </button>
    </a>
</div>
</body>
</html>