<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Ingredient</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
<div class="mainFlex">
    <h1>Ingredient Manager:</h1>
    <h3>Create New Ingredient</h3>
    <div class="createIngredientForm">
        <form th:action="@{/updateIngredient}" th:object="${ingredient}" method="post">
            <table>
                <tr>
                    <td align="right">
                        <label for="ingredientId">Ingredient Id</label>
                    </td>
                    <td>
                        <input id="ingredientId" th:field="*{id}" type="text" required="required" disabled="disabled">
                    </td>
                </tr>
                <tr>
                <tr>
                    <td align="right">
                        <label for="ingredientName">Ingredient Name</label>
                    </td>
                    <td>
                        <input id="ingredientName" th:field="*{name}" type="text" required="required">
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="ingredientDescription">Ingredient Description</label>
                    </td>
                    <td>
                        <input id="ingredientDescription" th:field="*{description}" type="text">
                    </td>
                </tr>
                <tr>
                    <td  align="right">
                        <label for="ingredientQuantityType">Ingredient Quantity Type </label>
                    </td>
                    <td>
                        <select  class="cniInputs" id="ingredientQuantityType" th:field="*{quantityType}" required="required">
                            <option value=Pounds>Pounds</option>
                            <option value=Ounces>Ounces</option>
                            <option value=Grams>Grams</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="ingredientQuantity">Ingredient Quantity</label>
                    </td>
                    <td>
                        <input id="ingredientQuantity" th:field="*{quantity}" type="text" required="required">
                    </td>
                </tr>
            </table>
            <br>
            <div align="center">
                <input id="createSubmit" class="button1" type="submit" value="Update Ingredient" >
            </div>
        </form>
    </div>
    <br>
    <table id="itemCreatedTable"></table>
    <br>
    <a href="/">
        <button class="button1">
            Inventory Manager
        </button>
    </a>
    <script src="/src/main/resources/static/main.js"></script>
</div>
</body>
</html>